<?xml version="1.0" encoding="utf-8" ?>
<!--  Copyright (c) Microsoft Corporation.  All Rights Reserved. -->
<configuration>
  <appSettings/>
  <connectionStrings/>
  <system.web>
    <customErrors mode="Off" />
    <compilation debug="true" targetFramework="4.0"/>
    <authentication mode="None"/>
  </system.web>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true">
      <add name="BasicAuthHttpModule"
           type="AspNetService.BasicAuthHttpModule, AspNetService" />
    </modules>
  </system.webServer>
</configuration>    